



<div class="container" style="display: table;width: 100%;height: 80%;">
    <div class="row" style="display: table-cell;vertical-align: middle;margin: 0px;">
        <div class="text-center col-md-4 col-md-offset-4" style="height:260px;width:260px;background:grey;background: red; /* For browsers that do not support gradients */
                    background: -webkit-radial-gradient(#B0C4DE, #6495ED, #4682B4); /* Safari 5.1 to 6.0 */
                    background: -o-radal-gradient(#B0C4DE, #6495ED, #4682B4); /* For Opera 11.6 to 12.0 */
                    background: -moz-radial-gradient(#B0C4DE, #6495ED, #4682B4); /* For Firefox 3.6 to 15 */
                    background: radial-gradient(#B0C4DE, #6495ED, #4682B4); /* Standard syntax */">

            <form style="padding-top: 25px;">
                <div class="form-group">
                    <input type="email" class="form-control" id="brewerEmail"   aria-describedby="brewerEmailHelp" placeholder="Enter brewer email" style="border: solid 2px orange;">
                    <small id="brewerEmailHelp" class="form-text text-muted" style="color: white;">We'll never share your email with others.</small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="brewerPassword" placeholder="Password" style="border: solid 2px orange;">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
            </form>
        </div>
    </div>
</div>
<div class="row" style="width: 100%; margin: 0px;">
    <div class="text-center">ciao</div>
</div>